<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Basic - SB UI Kit Pro</title>
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    <nav class="navbar navbar-marketing bg-white navbar-light">
                        <div class="container px-5">
                            <br/>
                            <a class="navbar-brand text-dark" href="index.html">BenjiForVerveMotion.com</a>

                            <br/>
                        </div>
                    </nav>
                    <!-- Page Header-->
                    <header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
                        <div class="page-header-ui-content">
                            <div class="container px-5">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-xl-8 col-lg-10 text-center">
                                        <h1 class="page-header-ui-title">Hi, I am Benji!</h1>
                                        <p class="page-header-ui-text mb-5">I built this website because I really want to be a part of the team at Verve. I spent a day to create this website and demo dashboard for exosuit users. Imagine what I could build if I worked on this full time!</p>
                                        <a class="btn fw-500 btn-teal me-2" href="#!">
                                            Full battery Dashboard
                                            <i class="ms-2" data-feather="arrow-right"></i>
                                        </a>

                                        <a class="btn fw-500 btn-yellow me-2" href="#!">
                                            Low battery Dashboard
                                            <i class="ms-2" data-feather="arrow-right"></i>
                                        </a>
                                        <a class="btn fw-500 btn-red me-2 " href="#!">
                                            Very low battery Dashboard
                                            <i class="ms-2" data-feather="arrow-right"></i>
                                        </a>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </header>
                    <section class="bg-light py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-6">
                                    <div class="text-center">
                                        <div class="text-xs text-uppercase-expanded text-primary mb-2">Who am I?</div>
                                        <h2 class="mb-5">Someone with the experience, expertise and motivation to be your next junior software engineer</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5">
                                <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up">
                                    <a class="card text-center text-decoration-none h-100 lift" href="#!">
                                        <div class="card-body py-5">
                                            <div class="icon-stack icon-stack-lg bg-green-soft text-green mb-4"><i data-feather="book-open"></i></div>
                                            <h5>Educated</h5>
                                            <p class="card-text small">A Computer Science graduate (B.S.) with a 3.93/4.00 (Major) GPA and a concentration in data analytics from The University of Connecticut.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up" data-aos-delay="100">
                                    <div class="card text-center text-decoration-none h-100 lift">
                                        <div class="card-body py-5">
                                            <div class="icon-stack icon-stack-lg bg-red-soft text-red mb-4"><i data-feather="tool"></i></div>
                                            <h5>Innovator</h5>
                                            <p class="card-text small">Whether it is creating building on research to <a href="http://benjibuchanan.com/img/buchananFinalPaper.pdf"> improve efficiency in a string matching algorithm </a>  or creating the <a href="https://youtu.be/CEbfnIKrkXE">world's first kitchen counter-top powder dispenser</a>, I strive to always innovate. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-5" data-aos="fade-up" data-aos-delay="150">
                                    <a class="card text-center text-decoration-none h-100 lift" href="#!">
                                        <div class="card-body py-5">
                                            <div class="icon-stack icon-stack-lg bg-yellow-soft text-yellow mb-4"><i data-feather="layout"></i></div>
                                            <h5>Fullstack experience</h5>
                                            <p class="card-text small">I have experience with Django, Flask, CSS, SQL, AWS, HTML, Git, Github and Bootstrap to create the front-end, back-end, and unit tests for websites just like this.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0" data-aos="fade-up">
                                    <a class="card text-center text-decoration-none h-100 lift" href="#!">
                                        <div class="card-body py-5">
                                            <div class="icon-stack icon-stack-lg bg-purple-soft text-purple mb-4"><i data-feather="book"></i></div>
                                            <h5>Data driven problem solver</h5>
                                            <p class="card-text small">I created a full-stack intelligent tutoring web application that was used at The University of Connecticut to help students prioritize their study time. Where some see problems, I see opportunity.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-6 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
                                    <div class="card text-center text-decoration-none h-100 lift" href="#!">
                                        <div class="card-body py-5">
                                            <div class="icon-stack icon-stack-lg bg-blue-soft text-blue mb-4"><i data-feather="code"></i></div>
                                            <h5>Python expert</h5>
                                            <p class="card-text small">My expertise in Python varies from research at Yale University <a href="http://benjibuchanan.com/img/portfolio/petra_poster_v2.pdf">applying machine learning methods</a> (using Pandas and scikit-learn), to creating algorithmic cryptocurrency trading bots and building a desktop applications that enabled non-technical people to complete technical activities.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="150">
                                    <a class="card text-center text-decoration-none h-100 lift" href="#!">
                                        <div class="card-body py-5">
                                            <div class="icon-stack icon-stack-lg bg-orange-soft text-orange mb-4"><i data-feather="user-check"></i></div>
                                            <h5>Team player</h5>
                                            <p class="card-text small">I have had the opportunity to be on a wide variety of teams. I was on life-saving team while I served in the United States Navy, and I have been on software development teams. I will bring these experiences to be the best team member I can at Verve Motion.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="bg-white py-10">
                        <div class="row gx-5 justify-content-center text-center">
                                <div class="col-lg-8">
                                    <h2 class="text-black">Why I'll build a website just to get a chance to join the team at Verve Motion</h2>
                                    <p class="lead text-black-50 mb-5"></p>
                                </div>
                            </div>
                        <div class="container px-5">
                            <div class="row gx-5 text-center">
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="box"></i></div>
                                    <h3>The mission</h3>
                                    <p class="mb-0">When I was in the Navy, manual labor was a part of the job. I spent many hours picking up and moving boxes. I know how it feels for the end users after a long day at work.</p>
                                </div>
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="layers"></i></div>
                                    <h3>The technology and team</h3>
                                    <p class="mb-0">I love the multidisciplinary nature of product and the idea of working with people who are the best in their fields. </p>
                                </div>
                                <div class="col-lg-4">
                                    <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="check"></i></div>
                                    <h3>The stage</h3>
                                    <p class="mb-0">I am looking to join an early stage start-up. I thrive in challenging environments that force me to learn and grow.</p>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-angled text-dark">
                            <!-- Angled SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
                        </div>
                    </section>

                    <section class="bg-dark py-10">
                        <div class="container px-8">
                            <div class="row gx-8 justify-content-center">
                                <div class="col-lg-8 text-center">
                                    <h2 class="text-white">Like what you see?</h2>
                                    <p class="mb-5 text-white-75">I would love to get the conversation started!</p>
                                    <div class="row gx-8">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="icon-stack icon-stack-lg bg-blue text-white mb-3"><i data-feather="file-text"></i></div>
                                                    <div class="small" ><a href="http://benjibuchanan.com/img/BenjiBuchananResume.pdf">Resume</a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="icon-stack icon-stack-lg bg-orange text-white mb-3"><i data-feather="mail"></i></div>
                                                    <div class="small">bbuchanan208@gmail.com</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="icon-stack icon-stack-lg bg-green text-white mb-3"><i data-feather="smartphone"></i></div>
                                                    <div class="small">860-471-7999</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="icon-stack icon-stack-lg bg-red text-white mb-3"><i data-feather="code"></i></div>
                                                    <div class="small"><a href="https://github.com/bbuchanan208/VerveDemo">Source code</a></div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-border-rounded text-dark">
                            <!-- Rounded SVG Border-->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section>
                </main>
            </div>
            <div id="layoutDefault_footer">
                <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
                    <div class="container px-5">

                        <hr class="my-5" />
                        <div class="row gx-5 align-items-center">
                            <div class="col-md-6 small">Copyright &copy; BenjiForVerveMotion.com 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>
